        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f0f0;
        }

        h1 {
            margin-top: 30px;
        }

        .comodo {
            margin: 30px;
        }

        .lampada {
            font-size: 80px;
            color: gray;
            /* Apagada */
            transition: all 0.3s ease;
        }

        .acesa {
            color: rgb(255, 0, 0);
            text-shadow: 0 0 20px rgb(255, 0, 0);
        }

        button {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }